.footer {
	background: url('@img/about.jpg') center center no-repeat;
	background: #000;
	padding: 123px 0px 123px 0px;
	
	&__decore {
		height: 98px;
		width: 2px;
		background: #fff;
		display: block;
	}

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__column {
	}

	&__social {
		display: flex;
		width: 98px;
		flex-wrap: wrap;
	}

	&__contacts {
	}
}

.logo {
	margin-bottom: 39px;
	&__link {
		
	}
}

.copy-right {
	font-family: OpenSans;
	color: #fff;
	font-size: 14px;
}

.footer-menu {

	&__list {
		display: flex;
		width: 333px;
		justify-content: space-between;
		flex-wrap: wrap;
		text-align: left;
	}

	&__item {
		
		text-align: left;
		
		
	}

	&__link {
		color: #fff;
		margin: 0px 44px 17px 0px;
		&:nth-child(3){
			margin: 0px 0px 17px 0px;
			
		}
		&:nth-child(6){
			margin: 0px 0px 17px 0px;
			
		}
	}
}

.footer-social {
	display: flex;
	flex-wrap: wrap;
	width: 98px;
	justify-content: space-between;
	align-items: center;
	&__item {
		margin-right: 35px;
		margin-bottom: 23px;

		&:nth-child(2) {
			margin-right: 0;
		}
		&:nth-child(3) {
			margin-right: 0;
			margin-bottom: 0;
		}
		&:nth-child(4) {
			margin-right: 0;
			margin-bottom: 0;
		}
	}
}
.insta {
}
.vk {
}
.telegram {
}
.whatsup {
}


.contacts {
	display: flex;
	flex-direction: column;
	color: #fff;

	&__phone {
		color: #fff;
	}

	&__mail {
		color: #fff;
	}
}

