.section-title {
	padding: 280px 0px 279px 0px;
	background: rgb(71, 68, 68);
	
}

.row-social{
	height: 261px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;

	&::after,
	&::before {
		position: absolute;
		content: '';
		background: #fff;
		height: 162px;
		width: 1px;
	}

	&::after {
		top: -192px;
		left: 50%;
	}

	&::before {
		bottom: -192px;
		left: 50%;
	}
}
.section-subtitle {
	background: #000;
	color: #fff;
	font-family: Montserrat;
	font-size: 25px;
	font-weight: 400;
	line-height: 1.32em;
	letter-spacing: 0;
	text-align: center;

	@media (max-width:686px){
		font-size: 20px;
	}
	@media (max-width:588px){
		font-size: 15px;
	}
	@media (max-width:532px){
		font-size: 10px;
	}
}
.container_section-subtitle {
	max-width: 1268px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 30px 24px 30px 24px;
	
	& > span {
		&:nth-child(1){
			width: 152px;
			@media (max-width:532px){
				width: 61px;
			}
		}
		&:nth-child(2){
			width: 231px;
			@media (max-width:588px){
				width: 145px;
			}
			@media (max-width:532px){
				width: 93px;
			}
		}
		&:nth-child(3){
			width: 138px;
			@media (max-width:532px){
				width: 55px;
			}
		}
	}

}




//Icons
.insta {
	background: url('@img/svg/insta.svg') center center no-repeat;
	width: 30px;
	height: 30px;
	display: block;
}
.vk {
	background: url('@img/svg/vk.svg') center center no-repeat;
	width: 33px;
	height: 19px;
	display: block;
}
.telegram {
	background: url('@img/svg/telegram.svg') center center no-repeat;
	width: 28px;
	height: 23px;
	display: block;
}
.whatsup {
	background: url('@img/svg/whatsup.svg') center center no-repeat;
	width: 33px;
	height: 33px;
	display: block;
}
