




.insta {
	background: url('@img/svg/insta.svg') center center no-repeat;
	width: 30px;
	height: 30px;
	display: block;
}
.vk {
	background: url('@img/svg/vk.svg') center center no-repeat;
	width: 33px;
	height: 19px;
	display: block;
}
.telegram {
	background: url('@img/svg/telegram.svg') center center no-repeat;
	width: 28px;
	height: 23px;
	display: block;
}
.whatsup {
	background: url('@img/svg/whatsup.svg') center center no-repeat;
	width: 33px;
	height: 33px;
	display: block;
}
