.about {
	@include adaptive-value("padding-top", 120, 75, 1920);
	background: rgba(140, 120, 112, 0.1);
	
	//RESPONSIVE 
	//RESPONSIVE 
	@media (max-width: 1200px){
		@include adaptive-value("padding-top", 120, 75, 768);
	}
	@media (max-width: 576px){
		padding: 70px 0px 0px 0px;
		
	}
	&__wrapper {
		@include adaptive-value("margin-bottom", 120, 75, 768);
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		//RESPONSIVE 
		@media (max-width: 1300px){
			align-items: start;
		}
		//RESPONSIVE 
		@media (max-width: 1200px){
			align-items: center;
			flex-direction: column;
			margin: 0px 0px 177px 0px;
			
		}

		//RESPONSIVE 
		@media (max-width: 768px){
			margin: 0px 0px 120px 0px;
		}
		@media (max-width: 576px){
			margin: 0px 0px 112px 0px;
		}
	}

	&__image {
		// flex: 0 0 42.39%;
		flex: 0 1 auto;

		// margin: 0px 101px 0px 0px;
		@include adaptive-value("margin-right", 101, 1, 1920);

		font-size: 0;

		& > img {
			width: 100%;
			height: 100%;
			border-radius: 20px 20px 0px 20px;
		}
		
		@media (max-width: 1200px){

			margin: 0px 0px 40px 0px;
			
		}
		
	}

	&__text {
		// max-width: 833px;
		@include adaptive-value("width", 888, 566, 1920);
		flex: 0 0 51.39%;

		& > span {
			display: block;
			font-family: Montserrat;
			font-size: 20px;
			@include adaptive-value("font-size", 20, 15, 1920);
			line-height: 1.26em;
			letter-spacing: 0.06em;
			font-weight: 500;
			// max-width: 480px;
			@include adaptive-value("width", 485, 272, 1920);
			margin: 0px 0px 41px 0px;
			@media (max-width: 1200px){
				width: 602px;
			}
			@media (max-width: 768px){
				@include adaptive-value("width", 602, 272, 768);
			}

			& > span {
				display: none;
				//RESPONSIVE 
				@media (max-width: 576px){
					display: inline;
				}
			}

			//RESPONSIVE 
			@media (max-width: 1200px){
				@include adaptive-value("font-size", 20, 15, 768);
				// @include adaptive-value("width", 566, 272, 768);
			}

			//RESPONSIVE 
			// @media (max-width: 768px){
			// 	@include adaptive-value("width", 566, 272, 768);
			// }
			@media (max-width: 576px){
				font-size: 15px;
			}
			
		}

		//RESPONSIVE 
		@media (max-width: 1200px){
			@include adaptive-value("width", 888, 566, 1200);
			
		}
		@media (max-width: 768px){
			@include adaptive-value("width", 566, 272, 768);
			
		}
		@media (max-width: 576px){
			// max-width: 272px;
		}

		@media (max-width: 576px){
			text-align: center;
		}
	}

	&__block-text {
		margin: 0px 0px 40px 0px;
		@include adaptive-value("width", 833, 566, 1920);
		//RESPONSIVE 

		//RESPONSIVE 
		@media (max-width: 1200px){
			// @include adaptive-value("width", 566, 272, 1200);
			width: 100%;
		}
		
		@media (max-width: 576px){
			@media (max-width: 576px){
				margin: 0px 0px 74px 0px;
			}
		}
		& > p {
			font-family: Montserrat;
			@include adaptive-value("font-size", 17, 13, 1920);
			font-weight: 400;
			line-height: 1.32em;
			letter-spacing: 0.06em;
			margin: 0px 0px 20px 0px;

			//RESPONSIVE 
			@media (max-width: 1200px){
				@include adaptive-value("font-size", 17, 13, 768);
			}
			@media (max-width: 576px){
				font-size: 13px;
			}
		}

		
	}
}


.about__btn {
	// @include adaptive-value("font-size", 17, 13, 1920);
	// @include adaptive-value("width", 335, 180, 1920);
	
}
.container {

	&-section__about {
		display: flex;
		flex-direction: column;
	}
}

.sub-section {
	background: #000;
	height: 100px;
	color: #fff;
	justify-content: center;
	align-items: center;
	display: flex;
	font-family: Montserrat;
	font-size: 30px;
	line-height: 1.32em;
	letter-spacing: 0.0.6em;
	//RESPONSIVE 
	@media (max-width: 1200px){
		font-size: 22px;
	}

	//RESPONSIVE 
	@media (max-width: 992px){
		font-size: 15px;
	}

	//RESPONSIVE 
	@media (max-width: 576px){
		text-align: center;
	}
}
