.page__section_4 {
	padding: 120px 0px 120px 0px;
	
}
.containter-section__price {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.price {

	&__wrapper {
	}

	&__card {
	}
}


.card-content {

	&__type1 {
	}

	&__type2 {
	}
}

.card-title {
}
.card-summ {
}
.card-paragraphs {
}
.card-part {
}
.note {
}
