.page__section_4 {
	padding: 120px 0px 215px 0px;
	
}
.containter-section__price {
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.price {

	&__wrapper {
		background: rgb(216, 3, 205);
		max-width: 100%;
		display: flex;
		justify-content: space-between;
		//RESPONSIVE 
		@media (max-width: 1100px){
			flex-direction: column;
		}
	}

}

.card {
	background: rgb(236, 253, 0);
	flex: 0 0 33%;
	display: flex;
    justify-content: center;
	align-items: center;
	flex-direction: column;
	background: url('@img/svg/price-card__first.svg') center center/contain no-repeat;



	//RESPONSIVE 
	@media (max-width: 1100px){
		// @include adaptive-value('padding-top',40, 20, 786);

		// @include adaptive-value('padding-bottom',40, 20, 786);
	}
	&__title {
		
		font-family: Cormorant;
		text-align: center;
		@include adaptive-value('width', 251, 144, 1920);
		@include adaptive-value('font-size',35, 20, 1920);
		@include adaptive-value('margin-top',60, 20, 1920);
		@include adaptive-value('margin-bottom',40, 20, 1920);
		color: #4A3830;

		//RESPONSIVE
		@media (max-width: 1100px){
			@include adaptive-value('font-size',35, 20, 768);
			@include adaptive-value('width', 251, 144, 768);
			@include adaptive-value('margin-top',60, 20, 768);
			@include adaptive-value('margin-bottom',40, 20, 768);
		}
	}

	&__summ {
		font-family: Montserrat;
		font-weight: 500;
		letter-spacing: 0.06em;
		@include adaptive-value('font-size',25, 15, 1920);
		@include adaptive-value('margin-bottom',40, 20, 1920);

		//RESPONSIVE 
		@media (max-width: 1100px){
			@include adaptive-value('font-size',25, 15, 768);
		}
	}

	&__paragraphs {
		text-align: center;
		font-family: Montserrat;
		letter-spacing: 0.06em;
		@include adaptive-value('margin-bottom',60, 20, 1920);

		//RESPONSIVE 
		@media (max-width: 1100px){
			@include adaptive-value('margin-bottom',61, 41, 768);
		}

		& > p {
			@include adaptive-value('margin-bottom',15, 10, 1920);
			@include adaptive-value('font-size',17, 11, 1920);

			//RESPONSIVE 
			@media (max-width: 1100px){
				@include adaptive-value('margin-bottom',15, 10, 768);
				@include adaptive-value('font-size',17, 11, 768);
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		& > span {
			margin: 0 auto;
			display: block;
			height: 1px;
			background: #000;
			@include adaptive-value('width', 325, 200, 1920);
			@include adaptive-value('font-size',17, 11, 1920);
			@include adaptive-value('margin-bottom',15, 10, 1920);

			//RESPONSIVE 
			@media (max-width: 1100px){
				@include adaptive-value('margin-bottom',15, 10, 768);
			}
		}
	}
}



